body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B2BCAA;
  border: 20px solid #545E56; /* Set the border color */
  padding: 10px; /* Space between content and border */
}

div {
  text-align: center;
}

/* Make the title bigger */
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* Make the dropdown menu bigger */
select {
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 365px; /* Adjust width as needed */
  background-color: #EBF5EE;
  border-radius: 12px; /* Rounded corners */
}

.flag-image {
  width: 300px;
  height: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
